.modal
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Extra Description
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true")&times;
			.modal-body
				p some body form stuff
			.modal-footer
				button.btn.btn-primary